body {
  margin: 0;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  align-items: center;
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}